.categorias-mae{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 10px;
    padding-left: 0;
    background-color: rgb(34, 32, 32);
}
.lista-de-categorias_lista{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.lista-de-categorias_lista li{
    color: chartreuse;
    border: none;
    background-color: rgb(35, 51, 3);
    padding: 8px 15px;
    border-radius: 15px;
}